In [2]:
import pandas as pd

In [5]:
df=pd.read_csv("../data_cleaning/OSMI_clean.csv")
df.head()

,tech company,employer provided healthcare with mental benefits,employer provided mental healthcare awareness,current mental health disorder,mental health diagnosis,family history of mental illness,discussed personal mental health with employer,anonymity protected when using benefits,ease of asking for leave,comfortable discussing a mental health issue with direct supervisor(s),...,how well do you think the tech industry supports employees with mental health issues,observed or experienced an unsupportive or badly handled response to a mental health issue in your current or previous workplace?,observed or experienced supportive or well handled response to a mental health issue in your current or previous workplace,Age,Gender,Country of residence,Race,Start Date (UTC),Submit Date (UTC),What country do you *live* in?
0,1.0,No,Yes,Possibly,NaN,No,0.0,I don't know,I don't know,Yes,...,1.0,"Yes, I experienced","Yes, I experienced",27.0,Female,United Kingdom,NaN,5/16/2018 12:32,5/16/2018 12:42,NaN
1,1.0,Yes,Yes,Possibly,NaN,No,0.0,I don't know,I don't know,Maybe,...,2.0,"Yes, I observed",Maybe/Not sure,31.0,male,United Kingdom,NaN,5/16/2018 12:31,5/16/2018 12:40,NaN
2,1.0,I don't know,No,Yes,Yes,Yes,1.0,Yes,Difficult,Yes,...,1.0,"Yes, I experienced","Yes, I experienced",36.0,male,United States of America,White,5/9/2018 5:34,5/9/2018 5:46,NaN
3,1.0,Yes,Yes,Yes,Yes,I don't know,1.0,Yes,Difficult,Yes,...,2.0,Maybe/Not sure,Maybe/Not sure,22.0,Male,United States of America,White,5/4/2018 23:19,5/4/2018 23:23,NaN
4,NaN,NaN,NaN,No,NaN,Yes,NaN,NaN,NaN,NaN,...,1.0,No,"Yes, I observed",52.0,female,United States of America,More than one of the above,5/3/2018 0:40,5/3/2018 0:53,NaN

In [17]:
df['date'] = pd.to_datetime(df['Submit Date (UTC)'])
df.head()
df.count()

tech company                                                                                                                         1273
employer provided healthcare with mental benefits                                                                                    1273
employer provided mental healthcare awareness                                                                                        1136
current mental health disorder                                                                                                       1484
mental health diagnosis                                                                                                               609
family history of mental illness                                                                                                     1484
discussed personal mental health with employer                                                                                       1273
anonymity protected when using benefits                                                                                              1273
ease of asking for leave                                                                                                             1273
comfortable discussing a mental health issue with direct supervisor(s)                                                               1273
comfortable discussing a mental health issue with coworkers                                                                          1273
Number of employees                                                                                                                  1273
how well do you think the tech industry supports employees with mental health issues                                                 1482
observed or experienced an unsupportive or badly handled response to a mental health issue in your current or previous workplace?    1482
observed or experienced supportive or well handled response to a mental health issue in your current or previous workplace           1482
Age                                                                                                                                  1482
Gender                                                                                                                               1463
Country of residence                                                                                                                 1171
Race                                                                                                                                  897
Start Date (UTC)                                                                                                                     1173
Submit Date (UTC)                                                                                                                    1173
What country do you *live* in?                                                                                                        311
date                                                                                                                                 1173
Year                                                                                                                                 1173
dtype: int64

In [20]:
df.dropna

<bound method DataFrame.dropna of       tech company employer provided healthcare with mental benefits  \
0              1.0                                                No
1              1.0                                               Yes
2              1.0                                      I don't know
3              1.0                                               Yes
4              NaN                                               NaN
...            ...                                               ...
1479           1.0                                                No
1480           1.0                                                No
1481           NaN                                               NaN
1482           NaN                                               NaN
1483           1.0                                      I don't know

     employer provided mental healthcare awareness  \
0                                              Yes
1                                              Yes
2                                               No
3                                              Yes
4                                              NaN
...                                            ...
1479                                            No
1480                                           NaN
1481                                           NaN
1482                                           NaN
1483                                            No

     current mental health disorder mental health diagnosis  \
0                          Possibly                     NaN
1                          Possibly                     NaN
2                               Yes                     Yes
3                               Yes                     Yes
4                                No                     NaN
...                             ...                     ...
1479                            Yes                     Yes
1480                             No                     NaN
1481                             No                     NaN
1482                     Don't Know                     NaN
1483                            Yes                      No

     family history of mental illness  \
0                                  No
1                                  No
2                                 Yes
3                        I don't know
4                                 Yes
...                               ...
1479                     I don't know
1480                              Yes
1481                               No
1482                               No
1483                               No

      discussed personal mental health with employer  \
0                                                0.0
1                                                0.0
2                                                1.0
3                                                1.0
4                                                NaN
...                                              ...
1479                                             0.0
1480                                             0.0
1481                                             NaN
1482                                             NaN
1483                                             1.0

     anonymity protected when using benefits ease of asking for leave  \
0                               I don't know             I don't know
1                               I don't know             I don't know
2                                        Yes                Difficult
3                                        Yes                Difficult
4                                        NaN                      NaN
...                                      ...                      ...
1479                            I don't know            Somewhat easy
1480                            I don't know            Somewhat easy
1481                                     NaN                      NaN
1482                                     NaN                      NaN
1483                                      No       Somewhat difficult

     comfortable discussing a mental health issue with direct supervisor(s)  \
0                                                   Yes
1                                                 Maybe
2                                                   Yes
3                                                   Yes
4                                                   NaN
...                                                 ...
1479                                                Yes
1480                                              Maybe
1481                                                NaN
1482                                                NaN
1483                                              Maybe

      ...  \
0     ...
1     ...
2     ...
3     ...
4     ...
...   ...
1479  ...
1480  ...
1481  ...
1482  ...
1483  ...

     observed or experienced supportive or well handled response to a mental health issue in your current or previous workplace  \
0                                    Yes, I experienced
1                                        Maybe/Not sure
2                                    Yes, I experienced
3                                        Maybe/Not sure
4                                       Yes, I observed
...                                                 ...
1479                                    Yes, I observed
1480                                                 No
1481                     I've always been self-employed
1482                                     Maybe/Not sure
1483                                     Maybe/Not sure

       Age  Gender      Country of residence                        Race  \
0     27.0  Female            United Kingdom                         NaN
1     31.0    male            United Kingdom                         NaN
2     36.0    male  United States of America                       White
3     22.0    Male  United States of America                       White
4     52.0  female  United States of America  More than one of the above
...    ...     ...                       ...                         ...
1479  33.0    Male                       NaN                         NaN
1480  49.0    Male                       NaN                         NaN
1481  28.0     NaN                       NaN                         NaN
1482  26.0    Male                       NaN                         NaN
1483  38.0    male                       NaN                         NaN

      Start Date (UTC) Submit Date (UTC) What country do you *live* in?  \
0      5/16/2018 12:32   5/16/2018 12:42                            NaN
1      5/16/2018 12:31   5/16/2018 12:40                            NaN
2        5/9/2018 5:34     5/9/2018 5:46                            NaN
3       5/4/2018 23:19    5/4/2018 23:23                            NaN
4        5/3/2018 0:40     5/3/2018 0:53                            NaN
...                ...               ...                            ...
1479               NaN               NaN                        Germany
1480               NaN               NaN                       Portugal
1481               NaN               NaN                       Pakistan
1482               NaN               NaN                          India
1483               NaN               NaN                       Slovenia

                    date    Year
0    2018-05-16 12:42:00  2018.0
1    2018-05-16 12:40:00  2018.0
2    2018-05-09 05:46:00  2018.0
3    2018-05-04 23:23:00  2018.0
4    2018-05-03 00:53:00  2018.0
...                  ...     ...
1479                 NaT     NaN
1480                 NaT     NaN
1481                 NaT     NaN
1482                 NaT     NaN
1483                 NaT     NaN

[1484 rows x 24 columns]>

In [16]:
df['Year'] = df['date'].dt.year
df.dropna
df = df.astype({'Year':'int'})
df

IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer: Error while type casting for column 'Year'